.league-grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (min-width: 1024px) {
    .league-grid {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 0;
    }

    .league-player {
        grid-area: 1 / 1 / 2 / 2;
    }

    .league-history {
        grid-area: 1 / 2 / 2 / 3;
    }
}

@media (min-width: 1700px) {
    .league-grid {
        display: grid;
        grid-template-columns: 0.5fr 0.90fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 0px;
    }

    .league-player {
        grid-area: 1 / 1 / 2 / 2;
    }

    .league-history {
        grid-area: 1 / 2 / 2 / 3;
    }

    .league-match-detail {
        grid-area: 1 / 3 / 2 / 4;
    }
}

