.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-bg-full {
    background-color: rgb(39, 39, 39);
    background-image: url("assets/logo/web/svg/color-logo-no-background.svg"), linear-gradient(-45deg, #CBB26A 0%, #BE9E44 12%, #202020 12%, #202020 12%);
    background-repeat: no-repeat, no-repeat;
    background-size: calc(100vh - 70px), 100%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.main-bg-circle {
    background-color: rgb(39, 39, 39);
    background-image: url("assets/logo/web/svg/color-ring-no-background.svg"), linear-gradient(-45deg, #CBB26A 0%, #BE9E44 12%, #202020 12%, #202020 12%);
    background-repeat: no-repeat, no-repeat;
    background-size: calc(100vh - 70px), 100%;
    background-position-x: 50%;
    background-position-y: 50%;
}
