@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    display: grid;
    grid-template-rows: 70px calc(100vh - 70px);
    grid-template-columns: 100vw;
}


.rounded-border {
    padding: 4px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #CBB26A, #ffffff, #CBB26A);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinning-logo {
    animation: spin 2s linear infinite;
}